body, html{
	height: 100%;
}
.center-fix{
	height: 15%; /* For center-aligning the page */
}
.centerText{
		text-align: center;
}
.indexPanel{
	width: 70%;
	margin: auto;
	text-align: center;
}
.italic{
	font-style: italic;
	text-align: center;
}
#recycleGlyph{
	text-align: center;
	margin-top: 5px;
	font-size: 40px;
	color: green;
}
/* Quiz */
.choice-container{
	background-color: white;
	/*border: 1px solid black;*/
	height: 50%;
	width: 33.3333%;
	display: inline-block;
	padding: 1%;
}
.choice{
	background-color: #80dfff;
	height: 100%;
	/*padding: 4px;*/
	padding: 10%;
	text-align: center;
}
.end{
	clear:left;
}
#answer-bank{
	text-align: center;
}
#override{
	height: 100%;
	padding: 0;
}
#answers{
	height: 40%;
	margin: auto;
	width: 80%;
}
#question{
	margin:auto;
}
#question-container-body{
	text-align: center;
	width: 100%;
}
#question-container{
	width: 50%;
	margin: auto;
	margin-top: 2%;
}
#target-container-body{
	text-align: center;
	width: 100%;
}
#target-container{
	width: 40%;
	margin: auto;
	margin-top: 1%;
	height: 45%;
}
#target{
	color: lightgrey;
}
#buttons{
	width: 20%;
	margin: auto;
}
#score-container-body{
	text-align: center;
	width: 100%;
}
footer{
	margin: 0;
	width: 100%;
	bottom: 0;
}
